
















































.swiper-nav-btns{
 text-align: center;
}




.swiper_button_css{
  background: transparent !important;
  border: none !important;
  
}



.swiper_button_css:focus {
   outline: none !important;
   outline:  none !important; 
}

.swiper_icons{
  color: rgb(255, 255, 255) !important;
  font-size: 40px !important;
}





































































































































